@{
    ViewData["Title"] = "Home Page";
}

<style>
    .full-center {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>

<div class="full-center">
    <h1 class="display-4 fw-bold">Welcome to the Tariff App</h1>
    <p>Keep track of transactions between clients, provisions and other fees, just like that!</p>
    <p>With built in Fee engine!</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
